<a href="https://colab.research.google.com/github/hisoonni/bigdata/blob/main/4%ED%9A%8C_%EA%B8%B0%EC%B6%9C%EB%AC%B8%EC%A0%9C_%EC%9E%91%EC%97%85%ED%98%95_1%EC%9C%A0%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **작업형 1유형 문제**

1-1.
- age 컬럼의 3사분위수와 1사분위수의 차를 절대값으로 구하고, 소수점 버려서, 정수로 출력

In [1]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/빅데이터분석기사/basic1.csv")

In [2]:
df1 = df['age'].quantile(0.25)
df2 = df['age'].quantile(0.75)

result=abs(df1 -df2)
print(int(result))

50

1-2.
- (loves반응+wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, status_type=='video'인 데이터의 갯수

In [3]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/빅데이터분석기사/fb.csv")

In [6]:
df1 = ( df['loves'] + df['wows'] ) / df['reactions'] > 0.4
df2 = ( df['loves'] + df['wows'] ) / df['reactions'] < 0.5
df3 = df['type'] == 'video'

In [9]:
print(len(df[df1 & df2 & df3]))

90

1-3.
- date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수

In [10]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/빅데이터분석기사/nf.csv")

In [11]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [13]:
df1=df['country']=='United Kingdom'

df['date_added']=pd.to_datetime(df['date_added'])
df['year']=df['date_added'].dt.year
df['month']=df['date_added'].dt.month

df2=df['year']==2018
df3=df['month']==1

In [14]:
print(len(df[df1 & df2 & df3]))

6